{% extends "base_generic.html" %}

{% block content %}
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">BOOKS LIST</button><br>
  <div id="demo" class="collapse">
    This page displays list of all books present in bibliotheca.
  </div>
  <br>
    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}